@font-face {
  font-family: quicksand;
  src: url(Quicksand/Quicksand-VariableFont_wght.ttf);
}

html, body {
  font-family: quicksand, sans-serif;
  position: relative;
  height: 100%;
  width: 100%;
  background-color: rgb(37, 37, 37);
  margin: 0;
}

body {
  display: grid;
  grid-template-rows: 100px 1fr;
}

header {
  background-color: rgb(94, 94, 94);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.links {
  display: flex;
  position: absolute;
  right: 48px;
}

.links > div {
  padding-left: 24px;
}

.opponent-choice {
  position: relative;
  bottom: 40px;
  font-size: 2rem;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.opponent-choice > div {
  padding: 20px;
}

.choices {
  display: flex;
  justify-content: center;
  align-items: center;
}

.opponent-choice  img {
  padding: 100px;
}

.opponent-choice  img:hover {
  padding: 100px;
  background-color: rgb(100, 100, 100);
}

.form-section {
  position: relative;
  color: white;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  height: 100%;
  bottom: 10vh;
}

.form-section > div {
  margin: 50px;
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
  justify-items: center;
  align-self: center;
}

input[type="text"] {
  width: 50%;
  font-family: quicksand, sans-serif;
  font-size: 1.5rem;
  outline: none;
}

.player1 input[type="text"] {
  background-color: rgb(67, 199, 252);
}

.player2 input[type="text"] {
  background-color: rgb(255, 98, 98);
}

button {
  font-family: quicksand, sans-serif;
  height: 50px;
  width: 150px;
  border-radius: 15px;
}

button:hover {
  background-color: rgb(100, 100, 100);
  border-style: none;
}

.main-container {
  position: relative;
  display: none /*flex*/;
  justify-content: center;
  align-items: center;
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: rgb(67, 199, 252);
  border-radius: 2px;
  width: 40%;
  top: 80px;
  height: 8vh;
}

.restart {
  display: none;
  justify-content: center;
  color: white;
  font-size: 3rem;
  position: relative;

}

.grid {
  display: grid;
  gap: 10px;
  grid-template: repeat(3, 120px) / repeat(3, 120px);
}

.grid > div {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(139, 139, 139);
  font-size: 5rem;
}

.grid > div:hover {
  background-color: rgb(80, 80, 80);
}

.reset-button {
  position: absolute;
  bottom: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reset-button img {
  height: 24px;
  width: 24px
}

.reset-button img:hover {
  background-color: rgb(80, 80, 80);
}

